:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    
  
    color-scheme: light;
    color: rgba(255, 255, 255, 0.87);
    background-color: #91CABA;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
  }
  
  .display-all-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(255, 246, 255, 0.5);
    color: black;
    padding: 10px;
    width: 99%;
    margin: 5px;
    display: flex;
    align-items: center;
    z-index: 1;
    opacity: 0.9;
    height: 80px;
    border-radius: 15px;
    border-width: 1px;
    border: solid rgb(242, 235, 235);
  }
  
  .display-all-link {
    padding: 20px;
    z-index: 1;
    z-index: 1;
    opacity: 0.9;
  }
  
  .display-all-title {
    flex: 1;
    text-align: center;
    padding: 20px;
    z-index: 1;
    z-index: 1;
    opacity: 0.9;
  }
  
  .allhabits{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .habit-card {
    /* border: 2px solid gray; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(255, 246, 255, 0.5);
    padding: 30px;
    margin: 10px;
    z-index: 1;
    opacity: 0.9;
    width: calc(25% - 20px);
    border-radius: 15px;
    border-width: 1px;
    border: solid rgb(242, 235, 235)
  }
  .habit-card2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(255, 246, 255, 0.5);
    padding: 30px;
    margin: 10px;
    z-index: 1;
    opacity: 0.9;
    border-radius: 15px;
    border-width: 1px;
    border: solid rgb(242, 235, 235)
  }

  /* video */
  .section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* asagidaki hidden yada scroll */
    overflow: scroll; 
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* silebilirsin belki? gap icin */
body {
    margin: 0;
    background-color: #91CABA;
  }

.button{
    width: 120px;
    height: 40px;
    outline: none;
    border: 0; 
    color: #252b2a;
    background-color: #b6dde3;
    padding: 5px;
    margin: 5 px;
    border-radius: 15px;
    border-width: 1px;
    border: solid #c5e1e4;
    cursor: pointer;
}

.button2{
    width: 80px;
    height: 38px;
    outline: none;
    border: 0; 
    color: #252b2a;
    background-color: #c3dcdf;
    padding: 5px;
    margin: 5 px;
    border-radius: 15px;
    border-width: 1px;
    border: solid #c5e1e4;
    cursor: pointer;
}


.button :hover{
    opacity: .7;

}